
.Tayos{
    margin: 0;
    margin-top:0px;
    padding: 0;
    max-width: 3000px;
    font-size: 1.5m;
    font-family: Georgia, Times, 'Times New Roman', sans-serif;
    font-weight: 700;
    line-height: 1;
    margin: 0px 0;
    text-align: center;
    background-color: #caf7aa;
  }
